.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
}

h1 {
    //background-color: rgba(214, 218, 211, 0.849);
    font-weight: 400;
    padding-left: 5px;
}
h2 {
    // background-color: rgba(214, 218, 211, 0.849);
    font-weight: 400;
    padding-left: 5px;
}
.site-title {
    background-color: rgb(217, 189, 165);
}
.site-title:hover {
    background-image: none;
    
    background-color: rgb(229, 203, 186);
}